*{
    box-sizing: border-box;
    font-family: monospace;

}
.column
{  
    width: 169px;
    height: 145px;
    float: left;
    padding: 5px;
    overflow: hidden;
    
    
}



.row::after {
    content: "";
    clear: both;
    display: table;
  }

  #status{
    padding: 10px;
    width: 525px;
    height: 80px;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: grey;
 }

  #box
  {
    background-color: hsl(337, 62%, 72%);
      width: 620px;
      padding: 27px;
      
  }
 
  

  div img{

      
      height: 135px;
      width: 160px; 
      border-radius: 8px;
      background-color: rgba(230, 218, 218, 0.863);
      position: relative;
  }

      
 
.moveSlot.move {

  position: relative;
  animation-name: move;
  animation-duration:  0.6s ;
 
  
  

}



/* css animations with keyframes will by default only run once. hence I reset the animation by removing the element name*/
.moveSlot {
  
  animation-name: none;
}
@keyframes move {
  from {top: 0px; filter: blur(2px)}
  to {top: -400px; filter: blur(2px)}
}


  .imgRow{
    
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    width: 513px;
    margin:29px;
    
  }


  .row button{
      width: 525px;
      height: 42px;
      margin: 20px;
      background-color:  rgba(233, 16, 88, 0.863);
      outline: none;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 15px;
     
      

      
  }
  .row button:hover {background-color:  rgb(128, 6, 47)}

  